# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
ENV/

# IDE/OS
.DS_Store
Thumbs.db
*.swp

# Django
*.log
*.pot
*.pyc
staticfiles/
media/

# SQLite DB
*.sqlite3
db.sqlite3

# Env files
.env
.env.*

# Node (if any)
node_modules/